
//Variables
//Primary colors;
$primary: #5265E1;
$secondary:#FA5959;

$nav-link-font-size: 0.75rem;
$nav-link-font-weight: 500;
nav{
    text-transform: uppercase;
    letter-spacing: 2px;
    button{
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

$btn-padding-x: 1.5rem;
$btn-padding-y: 0.75rem;
$btn-font-family: 'Rubik', sans-serif;

//Headings:
$h3-font-size: 2.5rem;
$headings-font-weight: 575;
$headings-font-family:'Rubik', sans-serif;
$headings-margin-bottom: 1rem;
$btn-font-weight: light;
$btn-font-size: 12px;; 

//paragraph
$paragraph-margin-bottom: 2rem;

body {
    p{
        color: gray;
    }
}

//Buttons





//import the functions and variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";



//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';