//Variables
//Primary colors;
$primary: #5265E1;
$secondary: #FA5959;

body{
    overflow-x:hidden;
}

//Navbar
$nav-link-font-size: 0.75rem;
$nav-link-font-weight: 500;

nav {
    text-transform: uppercase;
    letter-spacing: 2px;
}



#purpleBgShape{
    z-index: -1;
    width: 160% ;
    height: 40%;
}

#purpleBgShape2{
    z-index: -1;
    width:90%;
    height:30%;
    margin-left: -30%;
}


//Headings:
$headings-font-weight: 575;
$headings-font-family: 'Rubik', sans-serif;
$headings-margin-bottom: 1rem;



//paragraph
$paragraph-margin-bottom: 2rem;

body {
    p {
        color: gray;
    }
}

//Button
$btn-font-weight: light;
$btn-font-size: 12px;;
$btn-padding-x: 1.5rem;
$btn-padding-y: 0.75rem;
$btn-font-family: 'Rubik', sans-serif;

//Features Tabs
$nav-tabs-link-hover-border-color: white;
$nav-tabs-link-active-border-color:red;
$nav-link-color:gray;
$nav-tabs-border-width:0px;


#home-tab, #profile-tab, #messages-tab{
    font-size:medium;
    &.active{
       border-bottom: $secondary;
       border-bottom-style:ridge; 
    }
}

//cards
$card-border-width:0;

//accordion
$accordion-button-active-bg: none;
$accordion-button-focus-box-shadow:none;

.accordion-button{
    &:hover {
        color:$secondary;
    }
}

.accordion-item {
    color:#FA5959;
}
@media (min-width: 768px) {
    
    #purpleBgShape{
       height:30%;
    }

    #purpleBgShape2{
        width:65%;
        height: 20%;
    }
}

@media (min-width:992px) {
    #purpleBgShape{
    height:50%;
    }

    #purpleBgShape2{
        height: 40%;
    }
}
    



//import the functions and variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";



//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';