//Variables
//Primary colors;
$primary: #5265E1;
$secondary: #FA5959;

//Navbar

$nav-link-font-size: 0.75rem;
$nav-link-font-weight: 500;

nav {
    text-transform: uppercase;
    letter-spacing: 2px;
}


//Headings:
$headings-font-weight: 575;
$headings-font-family: 'Rubik', sans-serif;
$headings-margin-bottom: 1rem;



//paragraph
$paragraph-margin-bottom: 2rem;

body {
    p {
        color: gray;
    }
}

//Button
$btn-font-weight: light;
$btn-font-size: 12px;;
$btn-padding-x: 1.5rem;
$btn-padding-y: 0.75rem;
$btn-font-family: 'Rubik', sans-serif;




//import the functions and variables
@import "../node_modules/bootstrap/scss/_functions ";
@import "../node_modules/bootstrap/scss/_variables";



//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';